@import url(./variables.css);
body {
    width: 100vh;
    height: 100vh;
    background-image: url("./assets/CurrencyConverterBackground.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        padding-top: 160px;
        img {
            height: 3rem;
            margin-bottom: 2rem;
        }
    }
    main {
      max-width: 480px;
      margin: 0 auto;
      padding: 56px 64px;
      background-color: var(--blue-500);
      border-radius: 16px;
 
      form {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .valueItem,.currencyItem {
          display: flex;
          flex-direction: column;
          gap: 8px;
          label {
            font: var(--font-label);
            font-size: 1.5rem;
            padding-bottom: 8px;
            color: var(--blue-900);
          }

          select,input[type="text"] {
            font: var(--font-span);
            color: var(--blue-900);
            padding: 16px 20px;
            border: none;
            border-radius: 10px;
            background-color: var(--blue-200);
          }
        }

        #result {
          font: var(--font-heading);
          color: var(--blue-900);
          text-align: center;
          margin-top: 24px;
        }

        input[type="button"] {
          margin-top: 48px;
          display: block;
          width: 100%;
          background-color: var(--blue-600);
          font: var(--font-button);
          font-weight: 400;
          font-size: 1.5rem;
          color: var(--white);
          border: none;
          border-radius: 10px;
          padding: 16px 20px;
          text-align: center;
          cursor: pointer;
        }
      }
        
    }
}
