.highligths {
  display: grid;
  grid-template-columns: 3fr 2fr;

  & .highlightSeeMore {
    display: flex;
    justify-content: space-between;
    font: var(--font-md-extrabold);
    color: var(--text-color-secondary);
    border-top: 1px solid var(--stroke-color);
    padding-block-start: 12px;
    margin-block-end: 24px;

    & .seeMore {
      display: flex;
      align-items: center;
      gap: 4px;

      & img {
        width: 16px;
        height: 16px;
      }
    }
  }
  & .highlightsIA {
    padding-inline-end: 32px;
    grid-column: 1/2;
    & .highlightItem {
      display: grid;
      grid-template-columns: 1fr auto;
      padding-block-end: 32px;

      & span,
      h3,
      p {
        grid-column: 1;
      }

      & h3 {
        font: var(--font-md-extrabold);
        color: var(--text-color-primary);
        margin-block: 8px 4px;
        grid-row: 0;
      }

      & p {
        font: var(--font-sm-extrabold);
        color: var(--text-color-primary);
        font-weight: 400;
        grid-row: 0/1;
        overflow: hidden;
        text-overflow: ellipsis;

        /* LIMITA o número de linhas visíveis */
        display: -webkit-box;
        -webkit-line-clamp: 5; /* Ajuste conforme necessário */
        -webkit-box-orient: vertical;
      }
      & img {
        grid-column: 2;
        grid-row: 1/4;
        width: max;
        height: 176px;
        margin-inline-start: 16px;
      }
    }
  }

  & .imgAds {
    width: 488px;
    border-radius: 10px;
    height: 280px;
  }

  

  & .highlightsOthers {
    display: flex;
    flex-direction: column;
    gap: 32px;

    & .highlightSeeMore:nth-child(2) {
        margin-bottom: -12px;
      }
    & .seeThat {
      display: grid;
      grid-template-columns: auto 1fr;
      row-gap: 8px;
      column-gap: 15px;
      & img {
        grid-column: 1;
        grid-row: 1/3;
        width: 72px;
        height: 72px;
      }
      & span,
      p {
        grid-column: 2;
      }
      & p {
        font: var(--font-md-extrabold);
        color: var(--text-color-primary);
        grid-row: 0/1;
        overflow: hidden;
        text-overflow: ellipsis;
        /* LIMITA o número de linhas visíveis */
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Ajuste conforme necessário */
        -webkit-box-orient: vertical;
      }
    }
  }
}
