.mostRead {
    padding-block-end: 80px;  

  ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding-block: 24px;
    & li {
      position: relative;
      & span {
        position: absolute;
        top: 8px;
        left: 8px;
      }
      & p {
        font: var(--font-md-extrabold);
        color: var(--text-color-secondary);
        padding-top: 8px;
      }
    }
  }
}
